body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #800080;
}
.box{
    width: 370px;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 6px;
}
.box h1{
    color: black;
    margin-right: 250% ;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.box h3 {
    margin-right: 250%;
    width: 150px;
}
.box h4{
    color: #40E0D0;
}
.box input[type = "tel"], .box input[type ="password"]{
    border: 0;
    background: none;
    display: block;
    padding: 14px 35px;
    width: 200px;
    outline: none;
    background-color: #DCDCDC;
    border-radius: 5px;
    transition: 0.25s;

}
.box input[type = "tel"], .box input[type ="password"]{
    width: 280px;
   
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    background-color: #800080;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Roboto', sans-serif;

}
.box input[type = "submit"]{
width: 180px;
}